obj
objfre
objchk
build.log
buildfre.log
buildchk.log
build.wrn
buildfre.wrn
buildchk.wrn
build.err
buildfre.err
buildchk.err

/build.dat
/base/ntos/obj
/base/ntos/mpobj
/base/ntos/ke/mp/x86
/base/ntos/ke/mp/amd64
/base/ntos/rtl/error.h
/public/publish.log
/ds/lsa/server/exe/lsapmsgs.h
/ds/lsa/server/lsarpc_s.c
/ds/lsa/uclient/lsarpc_c.c
/ds/lsa/uclient/lsarpc_c.h
/base/ntos/ex/dbg.log
