obj
objfre
objchk
build.log
buildfre.log
buildchk.log
build.wrn
buildfre.wrn
buildchk.wrn
build.err
buildfre.err
buildchk.err

/build.dat
/minkernel/ntos/obj
/minkernel/ntos/mpobj
/minkernel/ntos/ke/mp/x86
/minkernel/ntos/ke/mp/amd64
/minkernel/ntos/rtl/error.h
/public/publish.log
/ds/lsa/server/exe/lsapmsgs.h
/ds/lsa/server/lsarpc_s.c
/ds/lsa/uclient/lsarpc_c.c
/ds/lsa/uclient/lsarpc_c.h
/minkernel/ntos/ex/dbg.log

/base/mvdm/dos/v86/cmd/fastopen/fastopen.map
/base/mvdm/dos/v86/cmd/graphics/graphics.map
/base/mvdm/dos/v86/cmd/keyb/kb16.map
/base/mvdm/dos/v86/cmd/loadfix/loadfix.map
/base/mvdm/dos/v86/cmd/share/share.map
/base/mvdm/dos/v86/dev/himem/himem.map
/base/mvdm/dos/v86/lib/xmm.lib
/base/mvdm/dos/v86/cmd/mem/mem.map
/base/mvdm/dos/v86/cmd/setver/setver.map
