/apistruc.inc
/bop.inc
/cmdsvc.inc
/curdir.inc
/dbgsvc.inc
/dossvc.inc
/doswow.inc
/dpmi.inc
/enumapis.inc
/mvdm.inc
/rdrsvc.inc
/softpc.inc
/tdb16.inc
/vdmtib.inc
/vint.inc
/vrdefld.inc
/vrdlctab.inc
/wow.inc
/wowcmdlg.inc
/wowcmpat.inc
/wowgdi.inc
/wowkbd.inc
/wowkrn.inc
/wowmmcb.inc
/wowmmed.inc
/wownt32.inc
/wowshell.inc
/wowsnd.inc
/wowth.inc
/wowusr.inc
/wowwsock.inc
/xmssvc.inc
